.nextBtn__container {
    display: flex;
    flex-direction: row-reverse;
    width: 55rem;
}

.nextBtn {
    align-self: flex-end;
}

.fa-fish {
    color: #007ea7;
    position: relative;
}

i:after {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: medium;
    font-weight: 800;
    color: #FFF;
}

.nextBtn__text {
    font-family: inherit;
}