.question__text {
    font-size:x-large;
    text-align: center;
    line-height: 1.7;
    justify-self: center;
    align-self: center;
    font-weight: 500;
}

.question__div {
    height: 12rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1rem;
}