.startBtn__container {
    display: flex;
    flex-direction: row-reverse;
    width: 55rem;
}

.startBtn {
    align-self: flex-end;
}

.fa-fish {
    color: #007ea7;
    position: relative;
}

.startBtn__text {
    font-family: inherit;
}