/* selector {
  attribute: new attribute value;
  column-count
} */

.Instructions-page {
    text-align: center;
    font-family: 'Poppins';
  }

  .Instructions-body {
    font-family: 'bookantique';

  }

  .returnBtn__container {
    box-sizing: (border-box + large);
    text-align: right;
    align-items: right;
    justify-content: center;
    align-content:center;
  }

  .startBtn__container {
    text-align: right;
    align-items: right;
    justify-content: center;
    align-content: end;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Instructions-link {
    color: #007ea7;
  }

  .Sources-body {
    font-family: 'Poppins';
  }
  
/* 
  INPUT 'HOME' button on LEFT and 'START' button on RIGHT  */
  