.fa-fish::after {
    content: 'Start';
}

.page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

.dropdown__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40rem;
    color: #00171fff;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#leftDiv {
    display: flex;
    flex-direction: row-reverse;
    width: 55rem;
}

#leftBtn {
    align-self: flex-end;
}
